<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVisAPI" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IVisAPI">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IVisAPI1">
                    <reliableSession inactivityTimeout="06:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVisAPI">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IVisAPI1">
                    <reliableSession inactivityTimeout="06:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nwsvsnapts2:7137/VisAPI/VisAPI_BH"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisAPI"
                contract="IVisAPI" name="BasicHttpBinding_IVisAPI" />
            <endpoint address="http://nwsvsnapts2:7137/VisAPI/VisAPI" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IVisAPI" contract="IVisAPI"
                name="WSHttpBinding_IVisAPI" />
            <endpoint address="http://nwsvsnapts2:7137/VisAPI/VisAPI_RM"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVisAPI1"
                contract="IVisAPI" name="WSHttpBinding_IVisAPI1" />
            <endpoint address="net.tcp://nwsvsnapts2:7138/VisAPI/VisAPI_TCP"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVisAPI"
                contract="IVisAPI" name="NetTcpBinding_IVisAPI" />
            <endpoint address="net.tcp://nwsvsnapts2:7138/VisAPI/VisAPI_TCPRM"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVisAPI1"
                contract="IVisAPI" name="NetTcpBinding_IVisAPI1" />
        </client>
    </system.serviceModel>
</configuration>